{% extends "base.html" %}
{% load static %}
{% load comments %}w

{% block content %}

<style>
  h4 { display:inline; }

  #id_honeypot {
    display: none;
  }
</style>



<div class="panel panel-info">
  <div class="panel-body">
    <h4><a href="{{ object.link }}">{{ object.title }}</a></h4>
    {% if object.self_description%}
    <small class="mic-info"><strong><i> - {{ object.self_description }}</i></strong></small>
    {% endif %}
    <br/><br/>
    <div>
    {{ object.description }}
    </div>
    <br/>
    {% if object.submitter == user or user.username == 'admin' %}
      <a href="{% url 'forum:link_update' pk=object.pk %}">Edit</a> | 
      <a href="{% url 'forum:link_delete' pk=object.pk %}">Delete</a>
    {% endif %}
  </div>
  <div class="panel-footer">

{% if has_commented != True %}
    <button id="agree" data-catid="{{ object.id }}" class="btn btn-primary" type="button">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Quit!
    </button>
    &nbsp;&nbsp;&nbsp;<strong id="agree_count">{{ object.agree }}</strong> people say you should quit! &nbsp;&nbsp;&nbsp;
    <button id="disagree" data-catid="{{ object.id }}" class="btn btn-primary" type="button">
    <span class="glyphicon glyphicon-thumbs-down"></span>
    Stay!
    </button>
    &nbsp;&nbsp;&nbsp;<strong id="disagree_count">{{ object.disagree }}</strong> people say you should stay!

{% else %}
    <button disabled id="agree" data-catid="{{ object.id }}" class="btn btn-primary" type="button">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Quit!
    </button>
    &nbsp;&nbsp;&nbsp;<strong id="agree_count">{{ object.agree }}</strong> people say you should quit! &nbsp;&nbsp;&nbsp;
    <button disabled id="disagree" data-catid="{{ object.id }}" class="btn btn-primary" type="button">
    <span class="glyphicon glyphicon-thumbs-down"></span>
    Stay!
    </button>
    &nbsp;&nbsp;&nbsp;<strong id="disagree_count">{{ object.disagree }}</strong> people say you should stay!
{% endif %}
  </div>
</div>

<p>

</p>

<li class="list-group-item">
  <span class="glyphicon glyphicon-comment"></span>
    Comments
  <span class="label label-info">{% get_comment_count for link as comment_count %}{{ comment_count }}</span>
</li>
<!--{% render_comment_list for object %}-->
{% get_comment_list for object as comment_list %}
{% for comment in comment_list %}
<li class="list-group-item">
        <b>{{ comment.user_name }}</br></b>
        {{ comment.comment }} </br>
        <div class="mic-info">{{ comment.submit_date }}</div>
</li>
{% endfor %}



<div class="container">
    <div class="row">
        <div class="widget-area no-padding blank">
            <div class="status-upload">
                {% get_comment_form for object as form %}
                <form action="{% comment_form_target %}" method="POST">
                    {% csrf_token %}
                    {{ form.honeypot }}
                    {{ form.content_type }}
                    {{ form.object_pk }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    <textarea name="comment" required maxlength=3000 placeholder="Your comments"></textarea>
                    <input type="hidden" name="email" value="{{ user.email|default:'d@ummy.com' }}" />
                    <input type="hidden" name="url" value="" />
                    <input type="hidden" name="next" value="{% url 'forum:link_detail' pk=object.id %}" />     
                    {% if user.is_authenticated %}
                        <input type="hidden" name="name" value="{{ user }}" />
                    {% else %}
                         Nickname: <input type="text" name="name" data-placement="bottom" placeholder="Your Nickname" required/>
                    {% endif %}
                    <button type="submit" class="btn btn-success green" value="Add comment" id="id_submit"><i class="fa fa-share"></i>Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

