{% extends "base.html" %}

{% load comments %}

{% block content %}

{% for link in object_list %}

<style>
    h4 { display:inline; }
</style>

<div class="panel panel-info">
  <div class="panel-body">
    <h4><a href="{% url 'forum:link_detail' pk=link.pk %}">{{ link.title }}</a></h4>
    {% if link.self_description%}
    <small class="mic-info"><strong><i> - {{ link.self_description }}</i></strong></small>
    {% endif %}
    <br/><br/>
    <article>
    {{ link.description }}
    </article>
  </div>
  <div class="panel-footer">
<!--
        <b> {{ link.agree }} </b> people say you should quit! &nbsp; <b> {{ link.disagree }} </b>people say you should stay! &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;
        <a href="{% url 'forum:link_detail' pk=link.pk %}">
            {% get_comment_count for link as comment_count %}
            {{ comment_count }} comment{{ comment_count|pluralize }}
        </a>
    -->
{% if link.pk in has_commented %}
    <button disabled data-catid="{{ link.pk }}" id="agree_button_{{ link.pk }}" class="btn btn-primary agree" type="button">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Quit!
    </button>
    &nbsp;&nbsp;&nbsp;<strong id="agree_count_{{ link.pk }}">{{ link.agree }}</strong> people say you should quit! &nbsp;&nbsp;&nbsp;
    <button disabled data-catid="{{ link.pk }}" id="disagree_button_{{ link.pk }}" class="btn btn-primary disagree" type="button">
    <span class="glyphicon glyphicon-thumbs-down"></span>
    Stay!
    </button>
    &nbsp;&nbsp;&nbsp;<strong id="disagree_count_{{ link.pk }}">{{ link.disagree }}</strong> people say you should stay!

{% else %}
    <button data-catid="{{ link.pk }}" id="agree_button_{{ link.pk }}" class="btn btn-primary agree" type="button">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Quit!
    </button>
    &nbsp;&nbsp;&nbsp;<strong id="agree_count_{{ link.pk }}">{{ link.agree }}</strong> people say you should quit! &nbsp;&nbsp;&nbsp;
    <button data-catid="{{ link.pk }}" id="disagree_button_{{ link.pk }}" class="btn btn-primary disagree" type="button">
    <span class="glyphicon glyphicon-thumbs-down"></span>
    Stay!
    </button>
    &nbsp;&nbsp;&nbsp;<strong id="disagree_count_{{ link.pk }}">{{ link.disagree }}</strong> people say you should stay!
{% endif %}
  </div>
</div>

<!--
<form method="post" action="{% url 'forum:vote' %}" class="vote_form">
    <li id = "id_vote"> [{{ link.votes }}] 
    	{% csrf_token %}
    	<input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}" />
    	<input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
    	{% if not user.is_authenticated %}
	    	<button disabled title="Please login to vote">+</button>
	    {% elif link.pk not in voted %}
	    	<button>+</button>
	    {% else %}
	    	<button>-</button>
	    {% endif %}

    	<a href="{% url 'forum:link_detail' pk=link.pk %}">
    		<b>{{ link.title }}</b>
    		{% get_comment_count for link as comment_count %}
    		{{ comment_count }} comment{{ comment_count|pluralize }}
    	</a>
    </li>
</form>
-->

{% endfor %}

{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?page={{page_obj.previous_page_number}}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><a href="#">&laquo;</a></li>
    {% endif %}
    {% if page_obj.number|add:"-2" in paginator.page_range %}
    <li><a href="?page={{ page_obj.number|add:"-2"}}">{{page_obj.number|add:"-2"}}</a></li>
    {% endif %}
    {% if page_obj.number|add:"-1" in paginator.page_range %}
    <li><a href="?page={{ page_obj.number|add:"-1"}}">{{page_obj.number|add:"-1"}}</a></li>
    {% endif %}
    <li class="active"><a href="?page={{ page_obj.number}}">{{page_obj.number}}</a></li>
    {% if page_obj.number|add:"1" in paginator.page_range %}
    <li><a href="?page={{ page_obj.number|add:"1"}}">{{page_obj.number|add:"1"}}</a></li>
    {% endif %}
    {% if page_obj.number|add:"2" in paginator.page_range %}
    <li><a href="?page={{ page_obj.number|add:"2"}}">{{page_obj.number|add:"2"}}</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
</ul>
{% endif %}

{% endblock %}
